/* Nav bar */
#navbar .logo {
  float: none;
  text-align: center;
}

#navbar ul,
#navbar ul li {
  float: none;
}

#navbar ul li a {
  padding: 5px;
  border-bottom: 1px #444 dotted;
}

/* Showcase */
#showcase {
    height: 100%;
}
#showcase .showcase-content {
    padding-top: 70px;
    padding-bottom: 30px;
  }

/* Home Info */
#home-info .info-img {
  display: none;
}

#home-info .info-content {
  float: none;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
}

/* Boxes */
.box {
  float: none;
  width: 100%;
}

/* About Info */
#about-info .info-right,
#about-info .info-left {
  float: none;
  width: 100%;
  min-height: 100%;
}

#about-info .info-right {
  margin-top: 30px;
}

.l-heading {
  text-align: center;
}

/* Contact */
/* Here we are targetting specfic box on contact page */
#contact-info .box{
    border-bottom: #444 dotted 1px;
}
