<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sizing Elements</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <!-- Divs are block level elements -->
    <div class="box"></div>
    <div class="box"></div>

    <br />
    <!-- Spans are inline elements by default, so they do not respect wid/heig so we
       can make them do the same by adding a display inline-block property -->
    <span class="spanned-box"></span>
    <span class="spanned-box"></span>
  </body>
</html>
