<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="HTML, CSS" />
    <title>Layout</title>
  </head>
  <body>
    <ul>
      <li>
        <a href="box-model/index.html">Box Model</a>
      </li>
      <li>
        <a href="sizing-elements/index.html">Sizing Elements</a>
      </li>
      <li>
        <a href="overflowing/index.html">Overflowing</a>
      </li>
      <li>
        <a href="measurement-units/index.html">Measurement Units</a>
      </li>
      <li>
        <a href="positioning/index.html">Positioning</a>
      </li>
      <li>
        <a href="floating-elements/index.html">Floating Elements</a>
      </li>
      <li>
        <a href="flexbox/index.html">Flexbox</a>
      </li>
      <li>
        <a href="grid/index.html">Grid</a>
      </li>
      <li>
        <a href="hiding-elements/index.html">Hiding Elements</a>
      </li>
      <li>
        <a href="media-queries/index.html">Media Queries</a>
      </li>
    </ul>
  </body>
</html>
