<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Measuring Units</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="box"><p>Absolute</p></div>
    <div class="box-perc"><p>Relative Percentage</p></div>
    <div class="box-em"><p>Relative Em</p></div>
    <div class="box-rem"><p>Relative Rem</p></div>
    <div class="box-viewprt">Relative Viewport</div>
    <div class="box-final">All In Action</div>
  </body>
</html>
