<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Overflowing</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <!-- If we have a fix size container and we have a large content, then overflow will happen. To avoid it we use overflow: auto or scroll property acc. -->
    <div class="box">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint optio
        cupiditate nostrum tempore deleniti blanditiis, quaerat itaque eaque
        nulla architecto sit accusamus minima odit temporibus consequuntur
        explicabo ut sed voluptates soluta culpa ab magnam est ullam. Sunt nobis
        doloribus rem voluptates itaque? Accusantium deleniti cumque magnam
        repudiandae ducimus! Aliquid, nisi.
      </p>
    </div>
  </body>
</html>
