<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Floating Elements</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <article class="tweet clearfix">
      <div class="avatar"></div>
      <p>Lorem ipsum dolor sit amet.</p>
      <!-- <p class="clear">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis autem
        eos aspernatur rem dignissimos quo blanditiis quae harum, totam laborum
        in laudantium aliquam eum eligendi, nobis, impedit consectetur libero id
        culpa molestias voluptate dolorem rerum? Placeat quam provident aliquid,
        officia adipisci earum similique officiis totam facere, quo nostrum
        alias doloribus.
      </p> -->
    </article>
  </body>
</html>
